# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
.venv/

# MyPy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# Pycharm project settings
.idea/

# VSCode project settings
.vscode/

# database
*.db
*.sqlite3

# Poetry lock
poetry.lock
